.navbar {
  background-color: #CCC;
  color: white;
  padding: 10px;
  display: flex;
  align-items: center;
}

.navbar a {
  color: inherit;
  text-decoration: none;
  padding: 10px;
}

.navbar a:hover {
  background-color: #ddd;
  cursor: pointer;
}

.routes-container {
  position: relative;
  margin: auto;
  left: -75px;
}
