@use "stream-chat-angular/src/assets/styles/v2/scss/variables" with ( $assetsPath: "../node_modules/stream-chat-angular/src/assets/styles/v2/assets");
@import "stream-chat-angular/src/assets/styles/v2/scss/index.scss";

html, body {
  height: 100%;
}

body {
  height: calc(100dvh - 76px);
}

#excuela-chat {
  display: flex;
  height: 100%;

  stream-channel-list {
    width: 30%;
  }

  stream-channel {
    width: 100%;
  }

  stream-thread {
    width: 45%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  vertical-align: baseline;
  font-family: Open Sans, sans-serif;
}

/* Reset list styles (remove default bullets, etc.) */
ol,
ul {
  list-style: none;
}

/* Reset anchor link styles */
a {
  text-decoration: none;
  color: inherit;
}

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

