@use "stream-chat-angular/src/assets/styles/v2/scss/variables" with ($assetsPath: "../node_modules/stream-chat-angular/src/assets/styles/v2/assets");
@import "stream-chat-angular/src/assets/styles/v2/scss/index.scss";

html,
body {
  height: 100%;
}

body {
  height: calc(100dvh - 76px);
}

#excuela-chat {
  display: flex;
  height: 100%;

  stream-channel-list {
    width: 30%;
  }

  stream-channel {
    width: 100%;
  }

  stream-thread {
    width: 45%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  font-style: normal;
  font-family: inherit;
  vertical-align: baseline;
  font-family: Open Sans, sans-serif;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #161c2d!important;
  font-weight: 700!important;
}

.title-container {
  display: flex;
  justify-content: center;

  .page-title {
    border-bottom: solid 1px #CCC;
    padding: 10px;
  }
}


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
